<div class="grid">
  <p-dialog header="Phone Details" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '60%'}" [breakpoints]="{'960px': '75vw'}">
    <div class="col-12">
      <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
        <div class="flex-1 text-center md:text-left">
          <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
            <img [src]="selectedPhone.ad_image" [alt]="selectedPhone.titre_article" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5" />
            <div class="flex-1 text-center md:text-left">
              <div class="text-2xl font-bold">{{ selectedPhone.titre_article | uppercase }}</div>
              <br>
              <div class="mb-3" *ngIf="selectedPhone.modele">Model: {{selectedPhone.modele}}</div>
              <div class="mb-3" *ngIf="selectedPhone.couleur">Color: {{selectedPhone.couleur}}</div>
              <div class="mb-3" *ngIf="selectedPhone.description_article">Description: {{selectedPhone.description_article}}</div>
              <div class="flex align-items-center mt-2">
                <i class="pi pi-tag mr-2"></i>
                <span class="font-semibold">{{ selectedPhone.marque }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
          <p-button icon="pi pi-shopping-cart" (click)="op1.toggle($event)" label="Add to Cart" class="mb-2"></p-button>
          <p-button icon="pi pi-external-link" label="Show" class="mb-2" (click)="openExternalLink(selectedPhone.ad_href)"></p-button>
        </div>
      </div>
    </div>
    <p-carousel [value]="getCarouselData()" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
      <ng-template let-item pTemplate="item">
        <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
          <div>
            <h5 class="mb-1">{{item.shop}}</h5>
            <h6 class="mt-0 mb-3">{{item.prix_detail}} DT</h6>
            <span [class]="'customer-badge status-' + getStatusClass(item.stocks)">{{item.stocks}}</span>
            <p>Ad title: {{item.ad_titles}}</p>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </p-dialog>

  <div class="col-12 lg:col-3" style="max-height: 1470px; overflow: auto; margin-bottom: 20px">
    <!-- Header Filter -->
     <div class="card">
       <h5>Filters</h5>
       <div  class="flex align-items-center gap-2 flex-wrap">
         <p-chip *ngFor="let filt of filterHistory; let i = index"
                 label="{{filt}}"
                 [removable]="true"
                 (onRemove)="removeFilter(i)"
         />
       </div>
       <div *ngIf="filterHistory.length>0" class="flex align-items-center gap-2 flex-wrap" style="margin-top: 5px">
        <button pButton pRipple type="button" label="Save" icon="pi pi-save" iconPos="right" class="p-button-success p-button-text mr-2 mb-2" (click)="saveFiltersToCache()"></button>
        <button pButton pRipple type="button" label="Delete all" icon="pi pi-times" iconPos="right" class="p-button-danger p-button-text mr-2 mb-2" (click)="updateFilters('Delete','')"></button>
       </div>
     </div>

    <!-- Price Filter -->
    <div class="card">
      <h5>Price Range</h5>
      <p-slider [(ngModel)]="sliderValues" [range]="true" [min]="sliderMin" [max]="sliderMax" (onSlideEnd)="updateFilters('priceRange','')"></p-slider>
      <br>
      <p>From {{ sliderValues[0] }} DT to {{ sliderValues[1] }} DT</p>
    </div>

    <!-- Status Filter -->
    <div style="margin-bottom: 30px">
      <p-panel header="Status" [toggleable]="true" class="line-height-3 m-0">
        <p-dataView #dvStatus [value]="displayedStatus" filterBy="name">
          <ng-template pTemplate="header">
            <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
            <span class="p-input-icon-left mb-2 md:mb-0">
              <i class="pi pi-search"></i>
              <input type="search" pInputText placeholder="Search by Status" (input)="onFilter(dvStatus, $event, 'status')">
            </span>
            </div>
          </ng-template>

          <ng-template let-status pTemplate="listItem">
            <div *ngFor="let statue of status">
              <div class="field-checkbox">
                <p-checkbox name="group1" [(ngModel)]="valCheck" [value]="statue.name" [id]="statue.name" (onChange)="updateFilters('status',statue.name)"></p-checkbox>
                <label [for]="statue.name" style="width: 140%;">{{statue.name}}</label>
                <span style="width: 60%; text-align: end">{{statue.count}}</span>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </p-panel>
    </div>

    <!-- Brand Filter -->
    <div style="margin-bottom: 30px">
      <p-panel header="Brand" [toggleable]="true" class="line-height-3 m-0">
        <p-dataView #dvBrand [value]="displayedBrands" filterBy="name">
          <ng-template pTemplate="header">
            <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
          <span class="p-input-icon-left mb-2 md:mb-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Search by Brand" (input)="onFilter(dvBrand, $event, 'brand')">
          </span>
            </div>
          </ng-template>

          <ng-template let-brand pTemplate="listItem">
            <div *ngFor="let marque of brand">
              <div class="field-checkbox">
                <p-checkbox name="group1" [(ngModel)]="valCheckMarque" [value]="marque.name" [id]="marque.name" (onChange)="updateFilters('brand',marque.name)"></p-checkbox>
                <label [for]="marque.name" style="width: 140%;">{{marque.name}}</label>
                <span style="width: 60%; text-align: end">{{marque.count}}</span>
              </div>
            </div>
          </ng-template>
        </p-dataView>

        <!-- See More/Less Button -->
        <div class="flex justify-content-center mt-2">
          <button pButton type="button" label="{{ showAllBrands ? 'See Less' : 'See More' }}" (click)="toggleShowAllBrands()"></button>
        </div>
      </p-panel>
    </div>


    <!-- Shop Filter -->
    <div style="margin-bottom: 30px">
      <p-panel header="Shop" [toggleable]="true" class="line-height-3 m-0">
        <p-dataView #dvShop [value]="displayedShops" filterBy="name">
          <ng-template pTemplate="header">
            <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
          <span class="p-input-icon-left mb-2 md:mb-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Search by Shop" (input)="onFilter(dvShop, $event, 'shop')">
          </span>
            </div>
          </ng-template>

          <ng-template let-shop pTemplate="listItem">
            <div *ngFor="let shop of shop">
              <div class="field-checkbox">
                <p-checkbox name="group1" [(ngModel)]="valCheckShop" [value]="shop.name" [id]="shop.name" (onChange)="updateFilters('shop',shop.name)"></p-checkbox>
                <label [for]="shop.name" style="width: 140%;">{{shop.name}}</label>
                <span style="width: 60%; text-align: end">{{shop.count}}</span>
              </div>
            </div>
          </ng-template>
        </p-dataView>

        <!-- See More/Less Button -->
        <div class="flex justify-content-center mt-2">
          <button pButton type="button" label="{{ showAllShops ? 'See Less' : 'See More' }}" (click)="toggleShowAllShops()"></button>
        </div>
      </p-panel>
    </div>

    <!-- Color Filter -->
    <div style="margin-bottom: 30px">
      <p-panel header="Color" [toggleable]="true" class="line-height-3 m-0">
        <!-- DataView Component -->
        <p-dataView #dvcl [value]="displayedColors" filterBy="name">
          <ng-template pTemplate="header">
            <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
            <span class="p-input-icon-left mb-2 md:mb-0">
              <i class="pi pi-search"></i>
              <input type="search" pInputText placeholder="Search by Color" (input)="onFilter(dvcl, $event, 'color')">
            </span>
            </div>
          </ng-template>

          <ng-template let-cl pTemplate="listItem">
            <div *ngFor="let color of cl">
              <div class="field-checkbox">
                <p-checkbox name="group1" [(ngModel)]="valCheckColor" [value]="color.name" [id]="color.name" (onChange)="updateFilters('color',color.name)"></p-checkbox>
                <label [for]="color.name" style="width: 140%;">{{color.name}}</label>
                <span style="width: 60%; text-align: end">{{color.count}}</span>
              </div>
            </div>
          </ng-template>
        </p-dataView>

        <!-- See More/Less Button -->
        <div class="flex justify-content-center mt-2">
          <button pButton type="button" label="{{ showAllColors ? 'See Less' : 'See More' }}" (click)="toggleShowAllColors()"></button>
        </div>
      </p-panel>
    </div>
  </div>

  <p-sidebar [(visible)]="visibleSidebar2" position="right" [style]="{width: '40%'}" [baseZIndex]="10000">
    <h1 style="height: 7%">Cart</h1>

    <div style="overflow: auto; height: 80%">
      <ng-container *ngIf="itemCart && itemCart.length > 0; else emptyCart">
        <p-dataView #dv [value]="itemCart">
          <ng-template pTemplate="list" let-it>
            <div class="grid grid-nogutter">
              <div class="col-12" *ngFor="let item of it; let first = first">
                <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                  <div class="md:w-10rem relative">
                    <img class="block xl:block mx-auto border-round w-full" [src]="item.phone.ad_image" [alt]="item.phone.modele" />
                  </div>
                  <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                    <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                      <div>
                        <span class="font-medium text-secondary text-sm">{{ item.phone.modele }}</span>
                        <div class="text-lg font-medium text-900 mt-2">{{ item.phone.titre_article }}</div>
                      </div>
                      <div class="surface-100 p-1" style="border-radius: 30px">
                        <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2" style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
                          <span class="text-900 font-medium text-sm">{{ item.quantity }}</span>
                          <!--<i class="pi pi-star-fill text-yellow-500"></i>-->
                        </div>
                      </div>
                    </div>
                    <div class="flex flex-column md:align-items-end gap-5">
                      <span class="text-xl font-semibold text-900">{{(item.phone.max_price == item.phone.min_price ? item.phone.max_price : 'From '+ item.phone.min_price +' To '+ item.phone.max_price) }} DT</span>
                      <div class="flex flex-row-reverse md:flex-row gap-2">
                        <p-button icon="pi pi-search" [outlined]="true" (click)="selectPhone(item.phone)" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </ng-container>
      <ng-template #emptyCart>
        <div class="empty-cart-message" style="text-align: center; padding: 20px; font-size: 18px;">
          Add some products to your cart.
        </div>
      </ng-template>
    </div>

    <div style="height: 10%; display: grid; place-items: center;">
      <p-button icon="pi pi-check-square" label="Confirm" class="mb-2" (click)="removeCartFromCache()"></p-button>
    </div>
  </p-sidebar>

  <p-overlayPanel #op1 [style]="{width: '325px'}">
    <div class="custom-input-number-container">
      <button (click)="decrementBy(10)" class="p-button p-component p-button-primary" style="margin-right: 5px; height: 40px; width: 40px">
        <div class="text-xl">-10</div>
      </button>
      <p-inputNumber
        [(ngModel)]="quantity"
        [showButtons]="true"
        [min]="0"
        [max]="999"
        mode="decimal"
        buttonLayout="horizontal"
        inputId="vertical"
        decrementButtonClass="p-button-primary"
        incrementButtonClass="p-button-primary"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        [inputStyle]="{'width':'75px'}"
        (onInput)="onQuantityChange($event)"/>
      <button (click)="incrementBy(10)" class="p-button p-component p-button-primary" style="margin-left: 5px; height: 40px; width: 40px">
        <div class="text-xl">+10</div>
      </button>
    </div>
  </p-overlayPanel>

  <div class="col-12 xl:col-9">
    <div class="card">
      <div *ngIf="filteredData && filteredData.length > 0; else loadingTemplate">
        <p-dataView #dv [value]="filteredData" [paginator]="true" [rows]="9" [totalRecords]="totalRecords" filterBy="titre_article" [sortField]="sortField" [sortOrder]="sortOrder" (onPage)="onPage($event)" layout="grid">
          <ng-template pTemplate="header">
            <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
              <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)"></p-dropdown>
              <span class="p-input-icon-left mb-2 md:mb-0">
                <i class="pi pi-search"></i>
                <input type="search" pInputText placeholder="Search by Title" (input)="onFilterdv(dv, $event)">
              </span>
              <p-button icon="pi pi-shopping-cart" (click)="visibleSidebar2 = true" label="Open Cart" class="mb-2"></p-button>
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>

          </ng-template>

          <ng-template let-ph pTemplate="listItem">
            <div class="col-12" *ngFor="let phone of ph" style="border-bottom: 1px solid #ccc;">
              <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                <div class="flex-1 text-center md:text-left" (click)="selectPhone(phone)" style="cursor: pointer">
                  <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                    <img [src]="phone.ad_image" [alt]="phone.titre_article" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5" />
                    <div class="flex-1 text-center md:text-left">
                      <div class="text-2xl font-bold">{{phone.titre_article | uppercase}}</div>
                      <div class="mb-3" *ngIf="phone.description_article">Description: {{phone.description_article}}</div>
                      <div class="flex align-items-center mt-2">
                        <i class="pi pi-tag mr-2"></i>
                        <span class="font-semibold">{{phone.marque}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
                  <span class="text-2xl font-semibold mb-2 align-self-center md:align-self-end">{{(phone.max_price == phone.min_price ? phone.max_price : phone.min_price +' --> '+ phone.max_price) }} DT</span>
                  <p-button icon="pi pi-shopping-cart" (click)="updateSelectPhone(phone); op1.toggle($event)" label="Add to Cart" class="mb-2"></p-button>
                  <span [class]="'customer-badge status-' + getStatusClass(phone.stocks[0])">{{phone.stocks[0]}}</span>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template let-ph pTemplate="gridItem">
            <div class="grid">
              <div class="col-12 md:col-4" *ngFor="let phone of ph">
                <div class="card m-3 border-1 surface-border">
                  <div (click)="selectPhone(phone)" style="cursor: pointer">
                    <div class="flex align-items-center justify-content-between">
                      <div class="flex align-items-center">
                        <i class="pi pi-tag mr-2"></i>
                        <span class="font-semibold">{{phone.marque}}</span>
                      </div>
                      <span [class]="'customer-badge status-' + getStatusClass(phone.stocks[0])">{{phone.stocks[0]}}</span>
                    </div>
                    <div class="text-center">
                      <img [src]="phone.ad_image" [alt]="phone.titre_article" class="w-9 shadow-2 my-3 mx-0" />
                      <div class="text-2xl">{{phone.titre_article | uppercase}}</div>
                    </div>
                  </div>
                  <div class="flex align-items-center justify-content-between">
                    <span class="text-xl font-semibold">{{(phone.max_price == phone.min_price ? phone.max_price : 'From ' + phone.min_price + ' to ' + phone.max_price) }} DT</span>
                    <p-button icon="pi pi-shopping-cart" (click)="updateSelectPhone(phone); op1.toggle($event)" class="mb-2"></p-button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>

      <!-- Loading template to show the spinner -->
      <ng-template #loadingTemplate>
        <div class="card flex justify-content-center">
          <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
        </div>
      </ng-template>

    </div>
  </div>
</div>
